<nav class="site-nav">
    <div class="site-nav-center-wrapper">
        <div class="site-nav-center">
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
            </div>
        </div>
    </div>
</nav>
