{{!--
This error template is used for all 404 errors, which might occur on your site.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

<main id="site-main" class="site-main outer error-content">
    <div class="inner">
        <section class="error-message">
            <h1 class="error-code">{{statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>

        {{#get "posts" limit="2" include="authors,tags"}}
            <div class="post-feed">
                {{#foreach posts visibility=public}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>
</main>
